<div class="system-content">
  <div class="data-info">
    <dl>
      <dt><%= __("administrationSystem|License code") %></dt>
      <dd><span class="data-text">0FCR-80YW-W6K7-****</span></dd>
    </dl>
    <dl>
      <dt><%= __("administrationSystem|Expiration date") %></dt>
      <dd><span class="data-text">2020.06.26</span></dd>
    </dl>
    <dl>
      <dt><%= __("administrationSystem|Max scan assets") %></dt>
      <dd><span class="data-text">1,500</span></dd>
    </dl>
    <dl>
      <dt><%= __("administrationSystem|Offline file update") %></dt>
      <dd>
        <div class="ui-file default-style" data-width="380px">
          <input type="file" name="file2" id="file2">
          <label for="file2">
            <span class="file-upload"><%= __("administrationSystem|File Upload") %></span>
          </label>
          <span class="file-name">File Name.*</span>
        </div>
        <button type="button" class="btn btn-normal primary-style long-size"><%= __("administrationSystem|Update") %></button>
      </dd>
    </dl>
    <dl>
      <dt><%= __("administrationSystem|Online update") %></dt>
      <dd>
        <div class="ui-refresh">
          <div class="ui-input default-style" data-width="380px"><input type="text" placeholder="Check the latest update version"/></div>
          <button type="button" class="btn btn-icon btn-refresh"><span class="icon icon-refresh"><span class="sr-only"><%= __("administrationSystem|refresh") %></span></span></button>
        </div>
        <button type="button" class="btn btn-normal primary-style long-size"><%= __("administrationSystem|Update") %></button>
      </dd>
    </dl>
  </div>
</div>
