<%- contentFor('title')%>
<%= __("asset|Diagnosed status") %> - <%= __("asset|Asset") %> - <%= __(`common|ProgramName${company}`) %>

<%- contentFor('body')%>
<main id="main">

  <!-- page-title-comp -->
  <div class="page-title-comp">
    <h2 class="page-title">
      <span class="icon-title icon-title-asset"></span> <%= __("asset|Asset") %>
    </h2>
  </div>
  <!-- //page-title-comp -->

  <div id="summary">
    <!--
    * @date 2021-05-31
    * @desc front performance improvement - dummy rendering
    * @company
    * -->
    <%- include('./assetSummary.ejs', {rendering: 'dummy'})%>
    <!-- // @date 2021-05-31 -->
  </div>

  <div class="tree-table-divide-wrap">
    <div class="tree-divide">
      <div id="tree" class="divide-inner">
        <!--
        * @date 2021-05-31
        * @desc front performance improvement - dummy rendering
        * @company
        * -->
        <%- include('./assetTree.ejs', {rendering: 'dummy'})%>
        <!-- // @date 2021-05-31 -->
      </div>
    </div>
    <div class="table-divide">
      <div id="listTable" class="divide-inner loading-parent">
        <div class="html-container">
          <!--
          * @date 2021-05-31
          * @desc front performance improvement - dummy rendering
          * @company
          * -->
          <%- include('./assetList.ejs', {
            ObjView : [],
            pages : 1, current : 1,
            time: {type: 'detection_time', from: '', to: ''},
            rendering: 'dummy'
          })%>
          <!-- // @date 2021-05-31 -->
        </div>
      </div>
    </div>
  </div>

</main>
<!-- //main -->

<%- contentFor('modal')%>
<div id="alert" class="alert">
  <%- include('../../include/alertModal.ejs')%>
</div>

<style>
  /* for loading */
  #listTable {
    min-height: 750px;
    background: #fff;
    border-radius: 8px;
  }
</style>

<script>
  var customFilterCondition = [
		{
			select: {originval: 'asset_name', dataval: '<%= __("asset|Asset name") %>'},
			condition: {type: 'input'}
		},
		{
			select: {originval: 'sensor_name', dataval: '<%= __("asset|Sensor name") %>'},
			condition: {type: 'input'}
		},
		{
			select: {originval: 'allowed', dataval: '<%= __("asset|Allow Deny") %>'},
			condition: {
				type: 'select',
				options: [
					{originval: 0, dataval: '<%= __("asset|Deny") %>'},
          {originval: 1, dataval: '<%= __("asset|Allow") %>'}
				]
			}
		},
	];
</script>

<script>
  var setState = (objState) => {
    const state = $.extend({}, history.state, objState);
    const url = location.href.split("?")[0];
    history.replaceState(state, null, url);
  }
  var getState = function (req, res) {
    return history.state || {};
  }
  var maintainState = () => {
    const { entries = 10, page = 1, filter = [] } = history.state || {};
    $('#listEntries').find(`option[value="${entries}"]`).prop('selected', true);
    $('#pagination').find('.page-item.page-num').removeClass('active').filter(function (index, element) { return $(element).data('page') == page }).addClass('active');
    /**
    * @date 2021-05-06
    * @desc fix bug about duplicated filter condition
    * @company
    */
    const $list = $('#listTable');
    const filterCustom = $list.find(`.filter-custom`).data('filterCustom')
    /*************************************/
    filterCustom && $.each(filter, function (index, element) {
      filterCustom.addItem(element)
    });
  }
  var getState = function (req, res) {
    return history.state || {};
  }
</script>

<script>
/**
* @date 2021-05-14
* @desc front performance improvement by lighthouse
* @company
*/
window.addEventListener('DOMContentLoaded',() => {
  maintainState()
});
/*************************************/
</script>

<script>

  var openLoading = function($loadingParent, option){
    const DELAYLOADINGTIME = 300;
    let data = { isLoaded: false };
    setTimeout(()=>{
      if(!data.isLoaded){
        addLoading($loadingParent, option);
      }
    }, DELAYLOADINGTIME);

    return {
      setLoaded: function(isLoaded){
        data.isLoaded = isLoaded
      }
    }
  }
</script>

<%- include('./detection.script.request.ejs')%>

<script>
  window.addEventListener("load", function (event) {
    requestSummary();
    requestTree();
  });
</script>
