<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%- include('../../include/head') %>
  <title><%= __("userForgotPassword|Forgot your password") %> - <%= __(`common|ProgramName${company}`) %></title>
</head>

<body class="theme-<%= getThemeClass(company) %>">
  <div id="layout" class="common-page">
    <header class="common-header">
      <h1 class="common-logo"><%= __(`common|ProgramName${company}`) %></h1>
    </header>
    <div class="common-box">
      <p class="common-welcome"><%= __("userForgotPassword|Forgot your password?") %></p>
      <div class="common-center">
        <div class="common-form">
          <div class="ui-input basic-style larger-size reverse-color">
            <input type="text" id="userEmail" autofocus>
            <label for="userEmail"><%= __("userForgotPassword|Email") %></label>
          </div>
        </div>
        <div class="common-button-box">
          <button id="btnForgetPassword" type="button" class="btn btn-normal largest-size primary-style"><%= __("userForgotPassword|Forgot Password") %></button>
        </div>
        <div class="common-other">
        </div><a href="/" class="link link-text reverse-color small-fontSize"><%= __("userForgotPassword|Back to sign in") %>?</a>
      </div>
    </div>
  </div>
  <%- include('../../include/alertModal') %>
  <script>
  const requestUserEmailSend = () => {
    const userEmail = $('#userEmail').val();
    if (!userEmail) return alertModalControl('open', 'alertError', '<%= __("userForgotPassword|Please enter an Email") %>', {closeCallback: function(){
      $('#userEmail').focus();
    }});

    const dataVale = {
      email: userEmail
    }

    fetch(`/admin/user/userEmailSend?email=${userEmail}`, {
      method: 'POST',
      body: JSON.stringify(dataVale),
      headers: {
        'Content-Type': 'application/json'
      }
    })
    .then(function(response){
      if(response.status === 200) return alertModalControl('open', 'alertComplete', '<%= __("userForgotPassword|The email has been sent to your registered email address") %>', {
        completeCallback: function(){
          location.href = '/';
        }
      })
      else if(response.status === 500) return alertModalControl('open', 'alertError', '<%= __("userForgotPassword|Error!") %>');
    })
    .catch(function(errors){console.error('Error:', errors)});
  }
    window.addEventListener("load", function (event) {
      $('#btnForgetPassword').on('click.forgetPassword', requestUserEmailSend);
      $(document).on('keyup.forgetPassword', function(e){
        if(e.keyCode == 13) return requestUserEmailSend();
      });
    });
  </script>
</body>

</html>
