<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%- include('../../include/head') %>
  <title><%= __("userResetPassword|Reset password") %> - <%= __(`common|ProgramName${company}`) %></title>
</head>

<body class="theme-<%= getThemeClass(company) %>">
  <div id="layout" class="common-page">
    <header class="common-header">
      <h1 class="common-logo"><%= __(`common|ProgramName${company}`) %></h1>
    </header>
    <div class="common-box">
      <p class="common-welcome"><%= __("userResetPassword|Reset password") %></p>
      <div class="common-center" data-validation>
        <div class="common-form" data-valid data-passwordconfirm>
          <div class="ui-input basic-style larger-size reverse-color" data-password data-valid data-required>
            <input type="password" id="password" autofocus>
            <label for="password"><%= __("userResetPassword|Password") %></label>
          </div>
          <div class="ui-input basic-style larger-size reverse-color" data-password data-valid data-required>
            <input type="password" id="confirmpassword">
            <label for="confirmpassword"><%= __("userResetPassword|Confirm password") %></label>
          </div>
        </div>
        <div class="common-button-box">
          <button id="btnResetPassword" type="button" class="btn btn-normal largest-size primary-style"><%= __("userResetPassword|Reset password") %></button>
        </div>
        <div class="common-other">
        </div><a href="/" class="link link-text reverse-color small-fontSize"><%= __("userResetPassword|Back to sign in") %>?</a>
      </div>
    </div>
  </div>
  <%- include('../../include/alertModal') %>
  <script>
  window.addEventListener("DOMContentLoaded", function (event) {
    required('.ui-input[data-required]');
    passwordconfirm('[data-passwordconfirm]');

    validation('[data-validation]');
  });
  </script>
  <script>
    const requestResetPassword = () => {
      const validationRestPassword = $('[data-validation]').data('validation');
      validationRestPassword.checkValidation();
      if(!validationRestPassword.isValidation) return alertModalControl('open', 'alertError', '<%= __("userResetPassword|Check again") %>', {
        closeCallback: function(){
          const $unValidNode = validationRestPassword.getUnValidItems();
          if(!$unValidNode) return;
          const $unValidNodeItem = $unValidNode[0].$item;
          if(!$unValidNodeItem.data('passwordconfirm')) return $unValidNodeItem.find(":first-child").focus();
          const $unValidNodeItemPassword = $unValidNodeItem.find(`input[type="password"]`);
          if(!$unValidNodeItemPassword.eq(0).val()) return $unValidNodeItemPassword.eq(0).focus();
          $unValidNodeItemPassword.eq(1).focus();
        }
      });

      const dataVale = {
        newpassword: $('#confirmpassword').val()
      }
      fetch(`/admin/user/userupdate`,{
        method: 'PUT',
        body: JSON.stringify(dataVale),
        headers: {
          'Content-Type': 'application/json'
        }
      })
      .then(function(response){
        if(response.status === 200) return alertModalControl('open', 'alertComplete', '<%= __("userResetPassword|Completed!") %>', {
          completeCallback: function(){
            location.href = '/';
          }
        })
        else if(response.status === 500) return alertModalControl('open', 'alertError', '<%= __("userResetPassword|Error!") %>');
      })
      .catch(function(errors){console.error('Error:', errors)});
    }
    window.addEventListener("load", function (event) {
      $('#btnResetPassword').on('click.resetPassword', requestResetPassword);
      $(document).on('keyup.resetPassword', function(e){
        if(e.keyCode == 13) return requestResetPassword();
      });
    });
  </script>
</body>

</html>
